body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 500px;
    border: 1px solid black;
    border-radius: 7px;
}

button {
	border: 5x;
	border-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
    padding: 10px;
	font-size: 15px;
	display: inline-block;
	margin: 4px 4px;
}

input {
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    padding: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }